.wrapper {
  position: relative;
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background: none;

  color: var(--text-secondary-color);

  cursor: pointer;
}

.iconBtn:hover {
  color: var(--text-primary-color);
  opacity: 0.8;
}

@media (max-width: 700px) {
  .iconBtn {
    width: 30px;
    height: 40px;
  }
}
