.wrapper {
  padding: 16px;
}

.formWrapper {
  display: flex;
  flex-direction: column;

  max-width: 700px;

  margin: 30px auto 0;
  padding: 45px;
  padding-bottom: 55px;

  background: var(--bg-secondary-color);
  border-radius: 25px;
}
