.formWrapper {
  display: flex;
  flex-direction: column;

  max-width: 700px;

  margin: 30px auto 0;
  padding: 45px 45px 55px;

  background: var(--bg-secondary-color);
  border-radius: 25px;
}

@media (max-width: 700px) {
  .formWrapper {
    padding: 30px 30px 40px;
  }
}
