.tabsWrapper {
  display: flex;

  margin-bottom: 32px;
}

.tab {
  margin-right: 30px;

  cursor: pointer;
}

.activeTab {
  box-shadow: 0 2px 0 0 var(--accent-color);
}

@media (max-width: 700px) {
  .tabsWrapper {
    margin-bottom: 24px;
  }

  .tab {
    margin-right: 0;
  }
}
