.wrapper {
  padding: 16px;
}

.description {
  font-size: 24px;
  text-align: center;
}

.button {
  margin: 20px auto 0;
}

.email {
  margin-bottom: 24px;

  text-align: center;
  font-size: 28px;
}

@media (max-width: 700px) {
  .description {
    font-size: 18px;
  }

  .email {
    font-size: 24px;
  }
}
