.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--text-secondary-color);
  font-size: 24px;
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
}

.errorMessage {
  margin-bottom: 32px;
}
