:root {
  --bg-primary-color: #00d4ff;
  --bg-secondary-color: #2e3250;
  --accent-color: #f9b17a;
  --text-primary-color: #fff;
  --text-secondary-color: #636b98;
}

.main {
  background: rgb(172 216 102);
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;

  font-family: Roboto, sans-serif;
}

body {
  background: radial-gradient(circle, var(--bg-primary-color) 0%, rgb(9 9 121 / 100%) 100%, rgb(2 0 36 / 100%) 100%);
}

h1 {
  font-size: 32px;
  margin-bottom: 18px;
}

h2 {
  font-size: 18px;
}

/* css reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  vertical-align: baseline;

  border: none;

  font: inherit;
}
