.wrapper {
  margin-bottom: 20px;
}

.legend,
.languageName {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radio {
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
  appearance: none;
}

.radio:focus {
  width: 60px;
  height: 50px;
}

.label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 50px;

  cursor: pointer;
}

.activeLabel {
  border-bottom: 3px solid var(--accent-color);
}

@media (max-width: 700px) {
  .wrapper {
    margin-bottom: 0;
  }
}
