.message {
  padding: 30px 20px 20px;

  text-align-last: left;
  font-size: 26px;
  color: var(--text-primary-color);
}

.successMessage {
  background: var(--success-color);
}

.errorMessage {
  background: var(--error-color);
}

@media (max-width: 700px) {
  .message {
    padding: 16px 12px 12px;

    font-size: 18px;
  }
}
